@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
html{
    scroll-behavior: smooth;
}
body{
   background-image:url("bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    text-align: center;
    /* text-transform: uppercase; */
    color:yellow;
    font-size: 2.2rem;
}

img{
    width: 55px;
    height: 52px;
    background-color:transparent;
    
}
.icon{
   margin-left: 45%;
   height: 20%;
   width:10%;

}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.flex{
    display: flex;
    display: inline;
}
.temp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: larger;
}
.city{
    font-size: large;
    text-align: center;
    font-weight:1000;
    font-size: x-large;
}
.discription{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.wind{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}
.humidity{
    text-align: center;
    font-weight: 800;
    font-size: large;

}
p{
    color:#fff;
}

  .footer{
    background-color: black;
    width: 100%;
    margin-left: 0%;
    height: 300px;
    padding-bottom: 0%;
    margin-top: 40%;
  }
.box-container{
    color: aliceblue;
    text-align: center;
}
h2{
    color:chocolate;
    text-align: center;
}
h3{
    color: chocolate;
    text-align: center;
   text-transform: uppercase;
    text-shadow: 50px;
}
.fa{
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    width: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 48%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    color: white;
    background-color: #3B5998;
}
.fa-google{
    color: white;
    background:  #dd4b39;
    

}

.select {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    /* background-color: #ffffff; */
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 15%;
}

.cities {
    width: 100%;
    height: 100%;
    border-style:none;
    background-color: transparent;
   border-radius: 50px;
   font-size: larger;
}

p{
    text-align: center;
    text-decoration: dotted;
}
header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: .5rem;
    background-color:transparent;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  }
.logo{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color:yellow;
}
.logo:hover
{
    color: aqua;
    opacity: 0.7;
}
 .navbar{
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
}
.navbar li{
    margin-left: 2.2rem;
    display: inline;
}
.navbar ul li{
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: #dd4b39;
    letter-spacing: 0.04rem;
    
}
.weather.loading{
    visibility: hidden;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color:black;
    margin-left: 48%;
   font-size:20px;
}